# === Maven / Java ===
target/
*.class
*.jar
*.war
*.log
*.iml
.idea/
.vscode/
.mvn/
mvnw*
*.iws
*.ipr

# Spring Boot configs
application.properties
application.yml
application-local.properties

# === React ===
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === OS / Misc ===
.DS_Store
Thumbs.db
logs/
temp/
